@model TeamInfo

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/js/Index.js"></script>
}
@section AdditionalStyles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

@section ModalWindows {
    <!-- Modal -->
    <div class="modal fade" id="editClassmate" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Classmate</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Name
                        <input id="classmateName" title="Name" type="text">
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="submitEdit" type="button" class="btn" data-dismiss="modal">Submit</button>
                    <button id="cancelEdit" type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}


<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <p>Team 1:</p>
    <ul id="teamMembersList">
        @for (var i = 0; i < Model.TeamMembers.Count; i++)
        {
            var member = Model.TeamMembers[i];

            <li class="member" id="@member.Id">
                <span class="name">@member.Name</span>
                <span class="delete fa fa-remove" id="deleteMember"></span>
                <span class="edit fa fa-pencil"></span>
            </li>
        }
    </ul>

    <label for="nameInputId">New member</label>
    <input id="nameInputId" type="text" placeholder="e.g Tudor" />
    <button class="btn btn-primary" disabled="disabled" id="addMemberButtonId">Add</button>
    <button class="btn btn-primary" id="clearButton" title="Clear">Clear</button>
</div>

