@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/js/Index.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Out Team</h1>
    <p>Team 1:</p>
    <ul id="teamMembersList">
        <li>Fineas</li>
        <li>Patrick</li>
        <li>Radu</li>
        <li>Tudor</li>
        <li>Ema</li>
    </ul>
    <label for="nameInputId">New member</label>
    <input id="nameInputId" type="text" placeholder="e.g Tudor" />
    <button id="addMemberButtonId">Add</button>
</div>

