@model TeamInfo

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/js/Index.js"></script>
}
@section AdditionalStyles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <p>Team 1:</p>
    <ul id="teamMembersList">
        @for (var i = 0; i < Model.TeamMembers.Count; i++)
        {
            var member = Model.TeamMembers[i];

            <li class="member" id="@i">
                <span class="name">@member</span>
                <span class="delete fa fa-remove" id="deleteMember"></span>
                <span class="edit fa fa-pencil"></span>
            </li>
        }
    </ul>

    <label for="nameInputId">New member</label>
    <input id="nameInputId" type="text" placeholder="e.g Tudor" />
    <button class="btn btn-primary" disabled="disabled" id="addMemberButtonId">Add</button>
    <button class="btn btn-primary" id="clearButton" title="Clear">Clear</button>
</div>

